:root {
  --white-color: #fff;
  --black-color: #000;
  --header-color: rgb(55, 55, 55);
  --rec-header-color: rgb(247, 165, 165);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 15px 25px;
  color: var(--header-color);
  font-size: 90px;
  background-color: rgba(255, 255, 255, 0.85);
  width: auto;
  height: auto;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/food-bg.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 23rem;
  object-fit: cover;
}

.rec-header {
  text-align: center;
  font-size: 40px;
  background-color: var(--rec-header-color);
  margin: 0px;
  padding: 15px;
}

.imgs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgs-container {
  padding: 0px;
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.img-container img {
  width: 450px;
  height: auto;
  margin: 10px 20px;
  border-radius: 7px;
}

.imgs-container li {
  list-style-type: none;
  margin-top: 5px;
}

.imgs-container a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: bold;
  transition: 0.2s ease-out;
}

.imgs-container a:hover {
  color: gray;
  transition: 0.2s ease-out;
}
